/* Se inicia CSS de header */
* {
    margin: 0;
    padding: 0;
}

.logo img {
    height: 40px;
    width: 160px;
    margin-left: 45px;
        border-radius: 15px;
}

.header-right {
    padding-right: 45px;
    
}

.header-right a  {
    margin-left: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

/* Se inicia CSS de Jumbotron */
.jumbo {
    height: 480px;
    width: 100%;
    background: linear-gradient(90deg, red, orange, rgb(246, 187, 76));
    
}

/*.img-jumbo {
    margin: 0 auto;
    width: 100%;
    background-image: url(./assets/jumbo.PNG);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}*/
.fijar {
    position: relative;
    float: right;
    height: auto;
}
.fijar img {
    height: 480px;
    width: 980px;
    border-style: hidden;
}

.datosjumbo {
    margin-left: 15px;
    padding-top: 10px;
    
}

.datosjumbo p {
    margin-bottom: 10px;
    font-weight: bolder;
}

.entradas {
    margin-left: 10px;
    height: 40px;
    width: 400px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 15px;
}

.entradas:hover {
    color: rgb(213, 113, 113);
    font-size: 10px;
    box-shadow: 0 1px 6px black;
    border-color: gray;
}

.condiciones {
    font-size: 11px;
    text-decoration: none;
}

.btn-secondary {
    margin-top: 15px;
}

/* Se inicia CSS de la sección del catalogo */
.inventario {
    width: 100%;
    height: 900px;
    /*background-color: black;*/
    background: linear-gradient(90deg, red, orange, rgb(246, 187, 76));
}

.catalogo {
    margin: 30px 40px;
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: repeat(4, 1fr);
    

}

.articulo {
    margin: 0 auto;
}

.articulo img {
    height: 270px;
    width: 270px;
}

.articulo a {
    color: white;
    margin-left: px;
    margin-bottom: 40px;
}

/* Se inicia CSS de sección adicional */

