* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.logo img {
    height: 40px;
    margin-left: 45px;
    width: 120px;
    }

.header-right {
    padding-right: 45px;
    
}

.header-right a  {
    margin-left: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.jumbotron {
    height: 584px;
    width: 100%;
}

.img-jumbo {
    height: 100%;
    width: 100%;
    background: url(https://www.chevroletriverolindavista.com.mx/content/dam/chevrolet/na/mx/es/index/certified-preowned/01-images/seminuevos-masthead.jpg?imwidth=960);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;


}