
* {
    margin: 0;
    padding: 0;
}

/* Se inicia CSS de header */

header {
    background-color: black;
    width: 100%;
    height: auto;
}

.contenedor {
    width: 100%;
    height: auto;
    display: grid;
    /*grid-template-columns: repeat(5,20%);*/
    grid-template-columns: repeat(5, 20%);
    place-items: center;
}

.header-left {
    margin: 10px 0px;
}

.header-left img {
    height: 65px;
    width:90px;
    border-radius: 5px;
    text-align: center;
    padding: 10px, 0px;
}

.header-right {
    text-align: center;
    }

.header-right a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* Se inicia CSS de Jumbotron */
.jumbo {
    height: auto;
    width: 100%;
      
}


.datosjumbo {
    padding-top: 10px;
    background: #212529;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.datosjumbo h1 {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    color: orangered;
}

.datosjumbo p {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    color: orange;
}

.inputs {
    text-align: center;
}

.entradas {
    text-align: center;
    height: 40px;
    width: 300px;
    border-radius: 6px;
    margin-bottom: 5px;
    font-size: 15px;
}

.entradas:hover {
    color:black;
    font-size: 20px;
    box-shadow: 0 1px 6px black;
    border-color: gray;
}

.condiciones {
    font-size: 13px;
    text-decoration: none;
}

.importa {
    padding-bottom: 20px;
    border: 15px;
    text-align: center;
}
.btn .btn {
    border-width: 20px;
}*/

/* Se inicia CSS de la sección del catalogo */
.inventario {
    width: 100%;
    height: auto;
    background-color: black;
}
.inventario p {
    text-align: center;
}

.inventario h2 {
    text-align: center;
    padding-top: 30px;
    color: orangered;
}

.catalogo {
    margin: 0px 130px;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
}

.articulo {
    margin: 20px auto;
}

.articulo img {
    height: 270px;
    width: 270px;
    margin: 0;
}

.articulo a {
    color: black;
    margin-left: px;
    margin-bottom: 40px;
    text-decoration: none;
}

/* Se inicia CSS de sección adicional */

.comentarios {
    background-color:#f9fafb;
    
}

.comentarios h3 {
    padding-top: 40px;
    text-align: center;
}

.scroll {
    background-color:#f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 10px;
}

.caja {
    width: 590px;
    height: 425px;
    overflow: auto;
    border: solid 5px;
    border-color: orange;
    border-radius: 10px;
    margin-bottom: 40px;
}


/*Inicia estilado del footer*/

footer {
    background-color: #111827;
    color: gray;
    
}

.pie {
    margin: 0, 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    height: auto;
}

.contacto li {
    margin: 5px 0px;
    list-style-type: none;
    width: auto;
    text-align: center;
}
.contacto a {
    text-decoration: none;
    color: white;
}

.redes li {
    margin: 5px 0px;
    list-style-type: none;
    width: auto;
    text-align: center;
}
.redes a {
    text-decoration: none;
    color:white;
}

.soporte li {
    margin: 5px 0px;
    list-style-type: none;
    width: auto;
    text-align: center;
}
.soporte a {
    text-decoration: none;
    color: gray;
}


.falsa {
    text-align: center;
    font-size: 15px;
}

/*AJUSTES NECESARIOS PARA RESPONSIVE*/


@media screen and (max-width: 800px) {
    .catalogo {
        margin: 0px 0px;
    }
    
  
      
}

@media screen and (max-width: 529px) {
    .caja {
        width: auto;
        height: 425px;
        overflow: auto;
        border: solid 5px;
        border-color: orange;
        border-radius: 10px;
    }

    .pie {
        display: grid;
        grid-template: 70% 30% / 1fr;
    }

    .contenedor {
        display: grid;
        grid-template-columns:33% 33% 33%;
        grid-template-rows: 50% 50%;
        place-items: center;
    }
    
    .header-left img {
        height: 36.1px;
        width:50px;
    }
    
    .header-right a {
        font-size: 10px;
        ;
    }

    .uno {
        grid-row: 1/2;
        
    }
    .dos {
        grid-column-start: 2;
    }
    .tres {
        grid-column-start: 3;
    }
    .cuatro {
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .cinco {
        grid-column-start: 3;
        grid-row-start: 2;
    }
    
    
}



@media screen and (max-width: 300px) {
    .datosjumbo p {
        margin-bottom: 5px;
        font-weight: bolder;
        width: auto;
    }
    
    .entradas {
        margin-left: 10px;
        height: 40px;
        width: auto;
        border-radius: 6px;
        margin-bottom: 15px;
        font-size: 15px;
    }
    
    .articulo img {
        height: 150px;
        width: 150px;
        margin: 0 auto;
    }
    
}